$white: #fff;
$black: #000;

$dark-orange: #e27d60;
$light-orange: #e8a87c;
$light-blue: #85cdca;
$dark-green: #41b3a3;
$dark-purple: #c38d9e;

/* The first of many grays... */
$gray-0: #dedede;

$break-small-min: 768px;
$break-medium-min: 992px;
$break-large-min: 1200px;